---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "authentik-remote-cluster.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "authentik-remote-cluster.labels" . | nindent 4 }}
  {{- with .Values.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
