apiVersion: v2
description: authentik is an open-source Identity Provider focused on flexibility and versatility
name: authentik
home: https://goauthentik.io
sources:
  - https://goauthentik.io/docs/
  - https://github.com/goauthentik/authentik
keywords:
  - proxy
  - oauth
  - authentication
  - saml
  - sso
  - identity
  - single-sign-on
  - ldap
  - idp
  - sp
version: 2022.11.2
appVersion: 2022.11.2
icon: https://goauthentik.io/img/icon.png
maintainers:
  - name: authentik Team
    email: hello@goauthentik.io
    url: https://goauthentik.io
dependencies:
  - name: postgresql
    version: 10.16.2
    repository: https://charts.bitnami.com/bitnami
    condition: postgresql.enabled
  - name: redis
    version: 15.7.6
    repository: https://charts.bitnami.com/bitnami
    condition: redis.enabled
  - name: common
    repository: https://library-charts.k8s-at-home.com
    version: 4.2.0
annotations:
  artifacthub.io/changes: |
    - kind: changed
      description: upgrade to authentik 2022.11.2
  artifacthub.io/license: MIT
  artifacthub.io/links: |
    - name: Github
      url: https://github.com/goauthentik/authentik
    - name: Docs
      url: https://goauthentik.io/docs/
  artifacthub.io/maintainers: |
    - name: authentik Team
      email: hello@goauthentik.io
      url: https://goauthentik.io
  artifacthub.io/images: |
    - name: authentik
      image: ghcr.io/goauthentik/server:2022.11.2
      whitelisted: true
    - name: authentik-outpost-proxy
      image: ghcr.io/goauthentik/proxy:2022.11.2
      whitelisted: true
    - name: authentik-outpost-ldap
      image: ghcr.io/goauthentik/ldap:2022.11.2
      whitelisted: true
  artifacthub.io/screenshots: |
    - title: User interface
      url: https://goauthentik.io/img/screen_apps_light.jpg
    - title: Admin interface
      url: https://goauthentik.io/img/screen_admin_light.jpg
