apiVersion: v2
description: authentik is an open-source Identity Provider focused on flexibility and versatility.
name: authentik
home: https://goauthentik.io
sources:
  - https://github.com/goauthentik/authentik
  - https://goauthentik.io/docs/
version: 1.0.0-RC2
appVersion: 2021.4.5
icon: https://raw.githubusercontent.com/BeryJu/authentik/master/web/icons/icon.svg
maintainers:
  - name: BeryJu
    email: jens@beryju.org
  - name: dirtycajunrice
    email: nick@cajun.pro
    url: https://github.com/DirtyCajunRice
dependencies:
  - name: postgresql
    version: 10.4.2
    repository: https://charts.bitnami.com/bitnami
    condition: postgresql.enabled
  - name: redis
    version: 14.1.1
    repository: https://charts.bitnami.com/bitnami
    condition: redis.enabled
  - name: common
    repository: https://library-charts.k8s-at-home.com
    version: 2.4.0
annotations:
  artifacthub.io/license: GPL-3.0-only
  artifacthub.io/links: |
    - name: Github
      url: https://github.com/goauthentik/authentik
    - name: Docs
      url: https://goauthentik.io/docs/
  artifacthub.io/maintainers: |
    - name: Jens L. BeryJu
      email: jens@beryju.org
      url: https://beryju.org
    - name: Nicholas St. Germain
      email: nick@cajun.pro
      url: https://github.com/DirtyCajunRice
  artifacthub.io/images: |
    - name: authentik
      image: ghcr.io/goauthentik/authentik:2021.4.5
    - name: authentik-proxy
      image: ghcr.io/goauthentik/authentik-proxy:2021.4.5
