---
apiVersion: v2
version: 2024.6.0
appVersion: 2024.6.0
name: authentik
description: authentik is an open-source Identity Provider focused on flexibility and versatility
type: application
home: https://goauthentik.io
sources:
  - https://goauthentik.io/docs/
  - https://github.com/goauthentik/authentik
keywords:
  - authentication
  - directory
  - identity
  - idp
  - ldap
  - oauth
  - oidc
  - proxy
  - saml
  - scim
  - single-sign-on
  - sp
  - sso
icon: https://goauthentik.io/img/icon.png
maintainers:
  - name: authentik Team
    email: hello@goauthentik.io
    url: https://goauthentik.io
dependencies:
  - name: postgresql
    version: 12.12.10
    repository: oci://registry-1.docker.io/bitnamicharts
    condition: postgresql.enabled
  - name: redis
    version: 18.6.1
    repository: oci://registry-1.docker.io/bitnamicharts
    condition: redis.enabled
  - name: authentik-remote-cluster
    repository: https://charts.goauthentik.io
    version: 2.0.0
    condition: serviceAccount.create
    alias: serviceAccount
annotations:
  artifacthub.io/changes: |
    - kind: changed
      description: upgrade to authentik 2024.6.0
  artifacthub.io/license: GPL
  artifacthub.io/links: |
    - name: GitHub
      url: https://github.com/goauthentik/authentik
    - name: Docs
      url: https://goauthentik.io/docs/
  artifacthub.io/maintainers: |
    - name: authentik Team
      email: hello@goauthentik.io
      url: https://goauthentik.io
  artifacthub.io/images: |
    - name: authentik
      image: ghcr.io/goauthentik/server:2024.6.0
      whitelisted: true
    - name: authentik-outpost-proxy
      image: ghcr.io/goauthentik/proxy:2024.6.0
      whitelisted: true
    - name: authentik-outpost-ldap
      image: ghcr.io/goauthentik/ldap:2024.6.0
      whitelisted: true
    - name: authentik-outpost-radius
      image: ghcr.io/goauthentik/radius:2024.6.0
      whitelisted: true
    - name: authentik-outpost-rac
      image: ghcr.io/goauthentik/rac:2024.6.0
      whitelisted: true
  artifacthub.io/screenshots: |
    - title: User interface
      url: https://docs.goauthentik.io/img/screen_apps_light.jpg
    - title: Admin interface
      url: https://docs.goauthentik.io/img/screen_admin_light.jpg
